body {
	background-color: #f6f6f6;
	font-size: 14px;
}
#header #logo-nav #logo {
	height: 40px;
	background-color: #fff;
}
#header #logo-nav #logo h1 {
	font-size: 18px;
	margin: 0;
	line-height: 40px;
}

#header #nav {
	/*background-color: #000;*/
	top: 0;
}