<div class="smart-widget">
    <div class="smart-widget-header">
        {$__SUB_TITLE__}
    </div>
    <div class="smart-widget-inner">
        <div class="smart-widget-body">
            <form action="" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">{:lang('server')}</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" value="__DOMAIN__/wechat.shtml">
                    </div>
                </div>
                <div class="form-group">
                    <label for="wechat_token" class="col-lg-2 control-label">{:lang('token')}</label>
                    <div class="col-lg-10">
                        <input type="text" name="wechat_token" id="wechat_token" class="form-control" value="{$data.wechat_token}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="wechat_encodingaeskey" class="col-lg-2 control-label">{:lang('encodingaeskey')}</label>
                    <div class="col-lg-10">
                        <input type="text" name="wechat_encodingaeskey" id="wechat_encodingaeskey" class="form-control" value="{$data.wechat_encodingaeskey}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="wechat_appid" class="col-lg-2 control-label">{:lang('appid')}</label>
                    <div class="col-lg-10">
                        <input type="text" name="wechat_appid" id="wechat_appid" class="form-control" value="{$data.wechat_appid}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="wechat_appsecret" class="col-lg-2 control-label">{:lang('appsecret')}</label>
                    <div class="col-lg-10">
                        <input type="text" name="wechat_appsecret" id="wechat_appsecret" class="form-control" value="{$data.wechat_appsecret}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        {:token()}
                        <input type="submit" value="{:lang('button save')}" class="btn btn-info marginTB-xs">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>