<div class="smart-widget">
    <div class="smart-widget-header">
        {$__SUB_TITLE__}

        {include file="public/button" /}
    </div>
    <div class="smart-widget-inner">
        <div class="smart-widget-body">
            <form action="" method="post" class="form-horizontal">
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>{:lang('keyword')}</th>
                            <th>{:lang('title')}</th>
                            <th>{:lang('reply')}</th>
                            <th>{:lang('image')}</th>
                            <th>{:lang('status')}</th>
                            <th>{:lang('operation')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="vo"}
                        <tr>
                            <td>{$vo.keyword}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.content}</td>
                            <td>{$vo.image}</td>
                            <td>
                                {eq name="vo.status" value="1"}
                                {:lang('button open')}
                                {else/}
                                {:lang('button close')}
                                {/eq}
                            </td>
                            <td>
                                <a href="{:url('', array('method' => 'editor', 'id' => $vo['id']))}"><i class="fa fa-edit"></i>{:lang('button editor')}</a>
                                <a href="{:url('', array('method' => 'remove', 'id' => $vo['id']))}" class="remove"><i class="fa fa-times"></i>{:lang('button delete')}</a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </form>
            <div>
            {$page}
            </div>
        </div>
    </div>
</div>