<div class="smart-widget">
    <div class="smart-widget-header">
        {$__SUB_TITLE__}
    </div>
    <div class="smart-widget-inner">
        <div class="smart-widget-body">
            <form action="" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="keyword" class="col-lg-2 control-label">{:lang('keyword')}</label>
                    <div class="col-lg-10">
                        <input type="text" name="keyword" id="keyword" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-lg-2 control-label">{:lang('title')}</label>
                    <div class="col-lg-10">
                        <input type="text" name="title" id="title" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-lg-2 control-label">{:lang('reply')}</label>
                    <div class="col-lg-10">
                        <textarea name="content" id="content" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="image" class="col-lg-2 control-label">{:lang('image')}</label>
                    <div class="col-lg-10">
                        <input type="text" name="image" id="image" class="form-control" value="">
                        <button type="button" class="btn btn-success marginTB-xs" id="upload" data-type="image" data-id="image" data-model="">{:lang('button upload')}</button>
                        <img src="" id="img-image" width="100">
                        <font class="grey align-t">{:lang('img info')}</font>
                    </div>
                </div>
                <div class="form-group">
                    <label for="url" class="col-lg-2 control-label">{:lang('url')}</label>
                    <div class="col-lg-10">
                        <input type="text" name="url" id="url" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-lg-2 control-label">{:lang('status')}</label>
                    <div class="col-lg-10">
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs checked">
                                <input type="radio" id="status1" name="status" value="1" checked>
                                <label for="status1"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                {:lang('button open')}
                            </div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="status2" name="status" value="0">
                                <label for="is_show2"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                {:lang('button close')}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        {:token()}
                        <input type="hidden" name="type" value="{$Think.get.type}">
                        <input type="submit" value="{:lang('button save')}" class="btn btn-info marginTB-xs">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>