# Windows image file caches
Thumbs.db
ehthumbs.db

# OSX
.DS_Store
.AppleDouble
.LSOverride

#Project
runtime/
tests/
thinkphp/
vendor/
build.php
test.php
think
composer.json
composer.lock
phpunit.xml