<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>{:lang('runuser')}</th>
			<th>{:lang('runaction')}</th>
			<th>{:lang('remark')}</th>
			<th>{:lang('dataid')}</th>
			<th>{:lang('ip')}</th>
			<th>{:lang('runtime')}</th>
		</tr>
	</thead>
	<tbody>
		{volist name="list" id="vo"}
		<tr>
			<td>{$vo.username} [{$vo.role_name}]</td>
			<td>{$vo.model} [{$vo.title}]</td>
			<td>{$vo.remark}</td>
			<td>{$vo.record_id}</td>
			<td>{$vo.action_ip}</td>
			<td>{$vo.create_time}</td>
		</tr>
		{/volist}
	</tbody>
</table>
<div class="paging">
	{$page}
</div>