<header id="header" class="container-fluid">
	<section class="row">
		<hgroup id="logo" class="col-sm-2">
			<a href="{:url('/')}">
				<font style="color:yellow">Ni</font><font style="color:orange">PHP</font>
			</a>
		</hgroup>
		<div class="col-sm-6">
			<ol class="breadcrumb">
				{$__BREADCRUMB__}
			</ol>
		</div>
		<menu id="menu" class="col-sm-4">
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="icon-globe"></span>
						{:lang('language')}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="title"><a>{:lang('language select')}</a></li>
						<li><a href="">简体中文</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="icon-user"></span>
						{$__ADMIN_DATA__.username}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{:url('content/cache', array('method' => 'remove', 'type' => 'cache'))}">{:lang('delete cache')}</a></li>
						<li><a href="{:url('user/admin', array('method' => 'editor', 'id' => $__ADMIN_DATA__['id']))}">{:lang('update admin')}</a></li>
						<li><a href="{:url('account/logout')}">{:lang('logout')}</a></li>
					</ul>
				</li>
			</ul>
		</menu>
	</section>
</header>