<form action="" method="post" class="form-horizontal">
	<ul>
		{eq name="Request.param.pid" value=""}
		<li class="form-group">
			<label for="name" class="col-md-2 control-label">{:lang('banner name')}</label>
			<div class="col-md-6">
				<input type="text" name="name" id="name" class="form-control">
			</div>
		</li>
		<li class="form-group">
			<label for="width" class="col-md-2 control-label">{:lang('width')}</label>
			<div class="col-md-6">
				<input type="text" name="width" id="width" class="form-control">
			</div>
		</li>
		<li class="form-group">
			<label for="height" class="col-md-2 control-label">{:lang('height')}</label>
			<div class="col-md-6">
				<input type="text" name="height" id="height" class="form-control">
			</div>
		</li>
		{else/}
		<li class="form-group">
			<label for="title" class="col-md-2 control-label">{:lang('banner title')}</label>
			<div class="col-md-6">
				<input type="text" name="title" id="title" class="form-control">
			</div>
		</li>
		<li class="form-group">
			<label for="image" class="col-md-2 control-label">{:lang('banner image')}</label>
			<div class="col-md-6">
				<input type="text" name="image" id="image" class="form-control">
				<button type="button" class="btn btn-info btn-sm np-upload" data-type="banner" data-id="image" data-model="">{:lang('button upload')}</button>
				<img src="" id="img-image" width="100" style="display:none">
			</div>
		</li>
		<li class="form-group">
			<label for="url" class="col-md-2 control-label">{:lang('banner url')}</label>
			<div class="col-md-6">
				<input type="text" name="url" id="url" class="form-control">
			</div>
		</li>
		<input type="hidden" name="pid" value="{$Request.param.pid}">
		{/eq}
	</ul>
	{:token()}
	<div class="form-button col-md-10 col-md-offset-2">
	<input type="submit" value="{:lang('button save')}" class="btn btn-danger btn-block" id="button-basic">
	</div>
</form>