<menu>
	<a href="{:url('', array('pass' => 'pass'))}" class="btn btn-default"><span class="icon-eye-close"></span>{:lang('button unexamined')}</a>
	<a href="{:url('', array('report' => 'report'))}" class="btn btn-default"><span class="icon-warning-sign"></span>{:lang('button report')}</a>
	<a href="{:url()}" class="btn btn-default"><span class="icon-eye-open"></span>{:lang('button all')}</a>
</menu>

<table class="table">
	<thead>
		<tr>
			<th>{:lang('id')}</th>
			<th>{:lang('username')}</th>
			<th>{:lang('content')}</th>
			<th>{:lang('button unexamined')}</th>
			<th>{:lang('button report')}</th>
			<th>{:lang('operation')}</th>
		</tr>
	</thead>
	<tbody>
		{volist name="list" id="vo"}
		<tr>
			<td>{$vo.id}</td>
			<td>{$vo.username}</td>
			<td title="{$vo.content}">{$vo.content|mb_substr=0,10}</td>
			<td>
				{eq name="vo.is_pass" value="0"}
				{:lang('button yes')}
				{else/}
				{:lang('button no')}
				{/eq}
			</td>
			<td>
				{eq name="vo.is_report" value="1"}
				<b style="color:red;">{:lang('button yes')}</b>
				{else/}
				{:lang('button no')}
				{/eq}
			</td>
			<td>
				<a href="{:url('', array('method' => 'editor', 'id' => $vo['id']))}"><i class="icon-edit"></i>{:lang('button check')}</a>
				<a href="{:url('', array('method' => 'remove', 'id' => $vo['id']))}"><i class="icon-remove"></i>{:lang('button delete')}</a>
			</td>
		</tr>
		{/volist}
	</tbody>
</table>
<div class="paging">
	{$page}
</div>