<div class="smart-widget">
    <div class="smart-widget-header">
        {$__SUB_TITLE__}

        {include file="public/button" /}
    </div>
    <div class="smart-widget-inner">
        <div class="smart-widget-body">
            <form action="" method="post" class="form-horizontal">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{:lang('membername')}</th>
                            <th>{:lang('realname')}</th>
                            <th>{:lang('nickname')}</th>
                            <th>{:lang('email')}</th>
                            <th>{:lang('phone')}</th>
                            <th>{:lang('memberlevel')}</th>
                            <th>{:lang('status')}</th>
                            <th>{:lang('operation')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="vo"}
                        <tr>
                            <td>{$vo.username}</td>
                            <td>{$vo.realname}</td>
                            <td>{$vo.nickname}</td>
                            <td>{$vo.email}</td>
                            <td>{$vo.phone}</td>
                            <td>{$vo.level_name}</td>
                            <td>
                                {eq name="vo.status" value="1"}
                                {:lang('button open')}
                                {else/}
                                {:lang('button close')}
                                {/eq}
                            </td>
                            <td>
                                <a href="{:url('', array('method' => 'editor', 'id' => $vo['id']))}"><i class="icon-edit"></i>{:lang('button editor')}</a>
                                <a href="{:url('', array('method' => 'remove', 'id' => $vo['id']))}" class="remove"><i class="icon-remove"></i>{:lang('button delete')}</a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </form>
            <div>
            {$page}
            </div>
        </div>
    </div>
</div>