<form action="" method="post" class="form-horizontal" data-parsley-validate="parsley" data-parsley-focus="last">
	<ul>
		<li class="form-group row">
			<label for="smtp_host" class="col-md-2 control-label">{:lang('emailsms smtp host')}</label>
			<div class="col-md-6">
				<input type="text" name="smtp_host" id="smtp_host" class="form-control" value="{$data.smtp_host}">
			</div>
		</li>
		<li class="form-group row">
			<label for="smtp_port" class="col-md-2 control-label">{:lang('emailsms smtp port')}</label>
			<div class="col-md-6">
				<input type="text" name="smtp_port" id="smtp_port" class="form-control" value="{$data.smtp_port}">
			</div>
		</li>
		<li class="form-group row">
			<label for="smtp_username" class="col-md-2 control-label">{:lang('emailsms smtp username')}</label>
			<div class="col-md-6">
				<input type="text" name="smtp_username" id="smtp_username" class="form-control" value="{$data.smtp_username}">
			</div>
		</li>
		<li class="form-group row">
			<label for="smtp_password" class="col-md-2 control-label">{:lang('emailsms smtp password')}</label>
			<div class="col-md-6">
				<input type="password" name="smtp_password" id="smtp_password" class="form-control" value="{$data.smtp_password}">
			</div>
		</li>
		<li class="form-group row">
			<label for="smtp_from_email" class="col-md-2 control-label">{:lang('emailsms smtp from email')}</label>
			<div class="col-md-6">
				<input type="text" name="smtp_from_email" id="smtp_from_email" class="form-control" value="{$data.smtp_from_email}">
			</div>
		</li>
		<li class="form-group row">
			<label for="smtp_from_name" class="col-md-2 control-label">{:lang('emailsms smtp from name')}</label>
			<div class="col-md-6">
				<input type="text" name="smtp_from_name" id="smtp_from_name" class="form-control" value="{$data.smtp_from_name}">
			</div>
		</li>
	</ul>
	<div class="form-button col-md-10 col-md-offset-2">
	<input type="submit" value="{:Lang('button save')}" class="btn btn-danger btn-block">
	</div>
</form>