<form action="" method="post" class="form-horizontal">
	<ul>
		<li class="form-group">
			<label for="system" class="col-md-2 control-label">{:lang('system default lang')}</label>
			<div class="col-md-6">
				<select name="system" id="system" class="form-control">
					{volist name="lang_list" id="vo"}
					<option value="{$vo}" {if condition="$vo eq $sys_default_lang"}selected="selected"{/if}>{$vo}</option>
					{/volist}
				</select>
			</div>
		</li>
		<li class="form-group">
			<label for="website" class="col-md-2 control-label">{:lang('website default lang')}</label>
			<div class="col-md-6">
				<select name="website" id="website" class="form-control">
					{volist name="lang_list" id="vo"}
					<option value="{$vo}" {if condition="$vo eq $web_default_lang"}selected="selected"{/if}>{$vo}</option>
					{/volist}
				</select>
			</div>
		</li>
		<li class="form-group">
			<label for="lang_switch_on" class="col-md-2 control-label">{:lang('domain auto')}</label>
			<div class="col-md-6">
				<label class="radio-inline"><input type="radio" name="lang_switch_on" value="1" {eq name="lang_switch_on" value="1"}checked{/eq}>{:lang('button open')}</label>
				<label class="radio-inline"><input type="radio" name="lang_switch_on" value="0" {eq name="lang_switch_on" value="0"}checked{/eq}>{:lang('button close')}</label>
			</div>
		</li>
	</ul>
	<div class="form-button col-md-10 col-md-offset-2">
	<input type="submit" value="{:Lang('button save')}" class="btn btn-danger btn-block" id="button-basic">
	</div>
</form>