<form action="" method="post" class="form-horizontal">
	<ul>
		<li class="form-group">
			<label for="wechat_token" class="col-md-2 control-label">{:lang('server')}</label>
			<div class="col-md-6">
				<input type="text" class="form-control" value="__DOMAIN__/wechat.shtml">
			</div>
		</li>
		<li class="form-group">
			<label for="wechat_token" class="col-md-2 control-label">{:lang('token')}</label>
			<div class="col-md-6">
				<input type="text" name="wechat_token" id="wechat_token" class="form-control" value="{$data.wechat_token}">
			</div>
		</li>
		<li class="form-group">
			<label for="wechat_encodingaeskey" class="col-md-2 control-label">{:lang('encodingaeskey')}</label>
			<div class="col-md-6">
				<input type="text" name="wechat_encodingaeskey" id="wechat_encodingaeskey" class="form-control" value="{$data.wechat_encodingaeskey}">
			</div>
		</li>
		<li class="form-group">
			<label for="wechat_appid" class="col-md-2 control-label">{:lang('appid')}</label>
			<div class="col-md-6">
				<input type="text" name="wechat_appid" id="wechat_appid" class="form-control" value="{$data.wechat_appid}">
			</div>
		</li>
		<li class="form-group">
			<label for="wechat_appsecret" class="col-md-2 control-label">{:lang('appsecret')}</label>
			<div class="col-md-6">
				<input type="text" name="wechat_appsecret" id="wechat_appsecret" class="form-control" value="{$data.wechat_appsecret}">
			</div>
		</li>
	</ul>
	{:token()}
	<div class="form-button col-md-10 col-md-offset-2">
	<input type="submit" value="{:lang('button save')}" class="btn btn-danger btn-block">
	</div>
</form>