<form action="" method="post" class="form-horizontal">
	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li role="presentation" class="active">
			<a href="#CT-basic" id="tab-CT-basic" aria-controls="CT-basic" role="tab" data-toggle="tab">{:lang('basic info')}</a>
		</li>
		<li role="presentation">
			<a href="#CT-content" id="tab-CT-content" aria-controls="CT-content" role="tab" data-toggle="tab">{:lang('content')}</a>
		</li>
		<li role="presentation">
			<a href="#CT-status" id="tab-CT-status" aria-controls="CT-status" role="tab" data-toggle="tab">{:lang('status')}</a>
		</li>
		<li role="presentation">
			<a href="#CT-album" id="tab-CT-album" aria-controls="CT-album" role="tab" data-toggle="tab">{:lang('album')}</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="CT-basic">
			<ul>
				<li class="form-group row">
					<label for="title" class="col-md-2 control-label">{:lang('title')}</label>
					<div class="col-md-6">
						<input type="text" name="title" id="title" class="form-control">
					</div>
				</li>

			</ul>
		</div>
	</div>
</form>