<div class="smart-widget">
    <div class="smart-widget-header">
        {$__SUB_TITLE__}
    </div>
    <div class="smart-widget-inner">
        <div class="smart-widget-body">
            <form action="" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="website_name" class="col-lg-2 control-label">{:lang('image auto image')}</label>
                    <div class="col-lg-10">
                        <div class="checkbox inline-block">
                            <div class="custom-checkbox">
                                <input type="checkbox" name="auto_image" id="auto_image" class="checkbox-red" value="1" {eq name="data.auto_image" value="1"}checked{/eq}>
                                <label for="auto_image"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                {:lang('image auto image info')}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image article module')}</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="text" name="article_module_width" class="form-control" id="article_module_width" value="{$data.article_module_width}">
                            </div>
                            <div class="col-lg-2">
                                <input type="text" name="article_module_height" class="form-control" id="article_module_height" value="{$data.article_module_height}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image picture module')}</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="text" name="picture_module_width" class="form-control" id="picture_module_width" value="{$data.picture_module_width}">
                            </div>
                            <div class="col-lg-2">
                                <input type="text" name="picture_module_height" class="form-control" id="picture_module_height" value="{$data.picture_module_height}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image download module')}</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="text" name="download_module_width" class="form-control" id="download_module_width" value="{$data.download_module_width}">
                            </div>
                            <div class="col-lg-2">
                                <input type="text" name="download_module_height" class="form-control" id="download_module_height" value="{$data.download_module_height}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image page module')}</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="text" name="page_module_width" class="form-control" id="page_module_width" value="{$data.page_module_width}">
                            </div>
                            <div class="col-lg-2">
                                <input type="text" name="page_module_height" class="form-control" id="page_module_height" value="{$data.page_module_height}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image product module')}</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="text" name="product_module_width" class="form-control" id="product_module_width" value="{$data.product_module_width}">
                            </div>
                            <div class="col-lg-2">
                                <input type="text" name="product_module_height" class="form-control" id="product_module_height" value="{$data.product_module_height}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image job module')}</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="text" name="job_module_width" class="form-control" id="job_module_width" value="{$data.job_module_width}">
                            </div>
                            <div class="col-lg-2">
                                <input type="text" name="job_module_height" class="form-control" id="job_module_height" value="{$data.job_module_height}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image link module')}</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="text" name="link_module_width" class="form-control" id="link_module_width" value="{$data.link_module_width}">
                            </div>
                            <div class="col-lg-2">
                                <input type="text" name="link_module_height" class="form-control" id="link_module_height" value="{$data.link_module_height}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image ask module')}</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="text" name="ask_module_width" class="form-control" id="ask_module_width" value="{$data.ask_module_width}">
                            </div>
                            <div class="col-lg-2">
                                <input type="text" name="ask_module_height" class="form-control" id="ask_module_height" value="{$data.ask_module_height}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image add water')}</label>
                    <div class="col-lg-10">
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.add_water" value="1"}checked{/eq}">
                                <input type="radio" id="add_water1" name="add_water" value="1" {eq name="data.add_water" value="1"}checked{/eq}>
                                <label for="add_water1"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                {:lang('button open')}
                            </div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.add_water" value="0"}checked{/eq}">
                                <input type="radio" id="add_water2" name="add_water" value="0" {eq name="data.add_water" value="0"}checked{/eq}>
                                <label for="add_water2"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                {:lang('button close')}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image water type')}</label>
                    <div class="col-lg-10">
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_type" value="1"}checked{/eq}">
                                <input type="radio" id="water_type1" name="water_type" value="1" {eq name="data.water_type" value="1"}checked{/eq}>
                                <label for="water_type1"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                {:lang('image water type image')}
                            </div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_type" value="0"}checked{/eq}">
                                <input type="radio" id="water_type2" name="water_type" value="0" {eq name="data.water_type" value="0"}checked{/eq}>
                                <label for="water_type2"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                {:lang('image water type text')}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_keywords" class="col-lg-2 control-label">{:lang('image water location')}</label>
                    <div class="col-lg-10">
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_location" value="1"}checked{/eq}">
                                <input type="radio" id="water_location1" name="water_location" value="1" {eq name="data.water_location" value="1"}checked{/eq}>
                                <label for="water_location1"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                上左
                            </div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_location" value="2"}checked{/eq}">
                                <input type="radio" id="water_location2" name="water_location" value="2" {eq name="data.water_location" value="2"}checked{/eq}>
                                <label for="water_location2"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                上中
                            </div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_location" value="3"}checked{/eq}">
                                <input type="radio" id="water_location3" name="water_location" value="3" {eq name="data.water_location" value="3"}checked{/eq}>
                                <label for="water_location3"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                上右
                            </div>
                        </div>
                        <br>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_location" value="4"}checked{/eq}">
                                <input type="radio" id="water_location4" name="water_location" value="4" {eq name="data.water_location" value="4"}checked{/eq}>
                                <label for="water_location4"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                中左
                            </div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_location" value="5"}checked{/eq}">
                                <input type="radio" id="water_location5" name="water_location" value="5" {eq name="data.water_location" value="5"}checked{/eq}>
                                <label for="water_location5"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                中间
                            </div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_location" value="6"}checked{/eq}">
                                <input type="radio" id="water_location6" name="water_location" value="6" {eq name="data.water_location" value="6"}checked{/eq}>
                                <label for="water_location6"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                中右
                            </div>
                        </div>
                        <br>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_location" value="7"}checked{/eq}">
                                <input type="radio" id="water_location7" name="water_location" value="7" {eq name="data.water_location" value="7"}checked{/eq}>
                                <label for="water_location7"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                下左
                            </div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_location" value="8"}checked{/eq}">
                                <input type="radio" id="water_location8" name="water_location" value="8" {eq name="data.water_location" value="8"}checked{/eq}>
                                <label for="water_location8"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                下中
                            </div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs {eq name="data.water_location" value="9"}checked{/eq}">
                                <input type="radio" id="water_location9" name="water_location" value="9" {eq name="data.water_location" value="9"}checked{/eq}>
                                <label for="water_location9"></label>
                            </div>
                            <div class="inline-block vertical-top">
                                下右
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="water_text" class="col-lg-2 control-label">{:lang('image water text')}</label>
                    <div class="col-lg-10">
                        <input type="text" name="water_text" id="water_text" class="form-control" value="{$data.water_text}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="water_image" class="col-lg-2 control-label">{:lang('image water image')}</label>
                    <div class="col-lg-10">
                        <input type="text" name="water_image" id="water_image" class="form-control" value="{$data.water_image}">
                        <button type="button" class="btn btn-success marginTB-xs" id="upload" data-type="water" data-id="water_image" data-model="">{:lang('button upload')}</button>
                        <img src="__DOMAIN__{$data.water_image}" id="img-water_image" width="100">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        {:token()}
                        <input type="submit" value="{:lang('button save')}" class="btn btn-info marginTB-xs">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>