<div class="row m-top-md">
    <div class="col-lg-3 col-sm-6">
        <div class="statistic-box bg-danger m-bottom-md">
            <div class="statistic-title">
                {:lang('info member')}
            </div>

            <div class="statistic-value">
                {:lang('info member count')}:{$data.member}
            </div>

            <div class="m-top-md">{:lang('info member reg')}:{$data.member_reg}</div>

            <div class="statistic-icon-background">
                <i class="ion-person-add"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="statistic-box bg-info m-bottom-md">
            <div class="statistic-title">
                {:lang('info feed or mess')}
            </div>

            <div class="statistic-value">
                {:lang('info feedback')}:{$data.feedback}
            </div>

            <div class="m-top-md">{:lang('info message')}:{$data.message}</div>

            <div class="statistic-icon-background">
                <i class="ion-eye"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="statistic-box bg-purple m-bottom-md">
            <div class="statistic-title">
                {:lang('info tg')}
            </div>

            <div class="statistic-value">
                {:lang('info ads')}:{$data.ads}
            </div>

            <div class="m-top-md">{:lang('info link')}:{$data.link}</div>

            <div class="statistic-icon-background">
                <i class="ion-stats-bars"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="statistic-box bg-success m-bottom-md">
            <div class="statistic-title">
                Today Earnings
            </div>

            <div class="statistic-value">
                $124.45k
            </div>

            <div class="m-top-md">7% Higher than last week</div>

            <div class="statistic-icon-background">
                <i class="ion-ios7-cart-outline"></i>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="smart-widget">
            <div class="smart-widget-header">
                {:lang('info sys info')}
                <span class="smart-widget-option">
                    <span class="refresh-icon-animated">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </span>
                    <a href="#" class="widget-toggle-hidden-option">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a href="#" class="widget-collapse-option" data-toggle="collapse">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </span>
            </div>
            <div class="smart-widget-inner table-responsive">
                <div class="smart-widget-hidden-section">
                    <ul class="widget-color-list clearfix">
                        <li style="background-color:#20232b;" data-color="widget-dark"></li>
                        <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                        <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                        <li style="background-color:#2baab1;" data-color="widget-green"></li>
                        <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                        <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                        <li style="background-color:#e36159;" data-color="widget-red"></li>
                        <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                        <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                        <li style="background-color:#fff;" data-color="reset"></li>
                    </ul>
                </div>
                <table class="table table-striped no-margin">
                    <tbody>
                        <tr>
                            <th>{:lang('info sys name')}</th>
                            <td>NIPHPCMS</td>
                        </tr>
                        <tr>
                            <th>{:lang('info sys version')}</th>
                            <td>SYS:{:config('sys_version')} / TP:{$Think.THINK_VERSION }</td>
                        </tr>
                        <tr>
                            <th>{:lang('info os')}</th>
                            <td>{$data.os}</td>
                        </tr>
                        <tr>
                            <th>{:lang('info php env')}</th>
                            <td>{$data.php_version} / {$data.env}</td>
                        </tr>
                        <tr>
                            <th>{:lang('info db')}</th>
                            <td>{$data.db_type} {$data.db_version}</td>
                        </tr>
                        <tr>
                            <th>{:lang('info copy')}</th>
                            <td>失眠小枕头 [levisun.mail@gmail.com]</td>
                        </tr>
                        <tr>
                            <th>在线升级</th>
                            <td>检测更新</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- ./smart-widget-inner -->
        </div><!-- ./smart-widget -->
    </div><!-- ./col -->
    <div class="col-lg-6">
        <div class="smart-widget widget-dark-blue">
            <div class="smart-widget-header">
                {:lang('info visit count')}
                <span class="smart-widget-option">
                    <span class="refresh-icon-animated">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </span>
                    <a href="#" class="widget-toggle-hidden-option">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a href="#" class="widget-collapse-option" data-toggle="collapse">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </span>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-hidden-section">
                    <ul class="widget-color-list clearfix">
                        <li style="background-color:#20232b;" data-color="widget-dark"></li>
                        <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                        <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                        <li style="background-color:#2baab1;" data-color="widget-green"></li>
                        <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                        <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                        <li style="background-color:#e36159;" data-color="widget-red"></li>
                        <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                        <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                        <li style="background-color:#fff;" data-color="reset"></li>
                    </ul>
                </div>
                <div class="smart-widget-body no-padding">
                    <div class="padding-md">
                        <div id="placeholder" style="height:250px;"></div>
                    </div>

                    <div class="bg-grey">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <h3 class="m-top-sm">3491</h3>
                                <small class="m-bottom-sm block">Total Sales</small>
                            </div>
                            <div class="col-xs-4 text-center">
                                <h3 class="m-top-sm">721</h3>
                                <small class="m-bottom-sm block">New Orders</small>
                            </div>
                            <div class="col-xs-4 text-center">
                                <h3 class="m-top-sm">$8103</h3>
                                <small class="m-bottom-sm block">Total Earnings</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div><!-- ./smart-widget -->
    </div><!-- ./col -->
</div>

<script>
$(function  ()  {
    //Flot Chart (Total Sales)
    var d1 = [];
    for (var i = 0; i <= 10; i += 1) {
        //d1.push([i, parseInt(Math.random() * 30)]);
        d1 = [[0,700],[1,1200],[2,1100],[3,900],[4,500],[5,700],[6,500],[7,600],[8,1200],[9,1700],[10,1200]];
    }

    function plotWithOptions() {
        $.plot("#placeholder", [d1], {
            series: {
                lines: {
                    show: true,
                    fill: true,
                    fillColor: '#eee',
                    steps: false,

                },
                points: {
                    show: true,
                    fill: false
                }
            },

            grid: {
                color: '#fff',
                hoverable: true,
                autoHighlight: true,
            },
            colors: [ '#bbb'],
        });
    }

    $("<div id='tooltip'></div>").css({
        position: "absolute",
        display: "none",
        border: "1px solid #222",
        padding: "4px",
        color: "#fff",
        "border-radius": "4px",
        "background-color": "rgb(0,0,0)",
        opacity: 0.90
    }).appendTo("body");

    $("#placeholder").bind("plothover", function (event, pos, item) {

        var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
        $("#hoverdata").text(str);

        if (item) {
            var x = item.datapoint[0],
                y = item.datapoint[1];

                $("#tooltip").html("Total Sales : " + y)
                .css({top: item.pageY+5, left: item.pageX+5})
                .fadeIn(200);
        } else {
            $("#tooltip").hide();
        }
    });

    plotWithOptions();
});
</script>