<form action="" method="post">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>{:lang('sort')}</th>
			<th>{:lang('modelname')}</th>
			<th>{:lang('tablename')}</th>
			<th>{:lang('status')}</th>
			<th>{:lang('operation')}</th>
		</tr>
	</thead>
	<tbody>
		{volist name="list" id="vo"}
		<tr>
			<td>
				<input type="text" name="sort[{$vo.id}]" class="form-control mini" value="{$vo.sort}">
			</td>
			<td>{:lang('model ' . $vo['name'])}</td>
			<td>{$vo.table_name}</td>
			<td>
				{eq name="vo.status" value="1"}
				{:lang('button open')}
				{else/}
				{:lang('button close')}
				{/eq}
			</td>
			<td>
				{neq name="vo.table_name" value="link"}
				<a href="{:url('fields', array('mid' => $vo['id']))}"><i class="icon-edit"></i>{:lang('button fields')}</a>
				{/neq}
				<a href="{:url('', array('method' => 'editor', 'id' => $vo['id']))}"><i class="icon-edit"></i>{:lang('button editor')}</a>
				<a href="{:url('', array('method' => 'remove', 'id' => $vo['id']))}" class="remove"><i class="icon-remove"></i>{:lang('button delete')}</a>
			</td>
		</tr>
		{/volist}
		<tr>
			<td><input type="submit" value="{:lang('sort')}" class="btn btn-primary"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</form>
{$page}