<form action="" method="post" class="form-horizontal">
	<ul>
		<li class="form-group">
			<label for="name" class="col-md-2 control-label">{:lang('typename')}</label>
			<div class="col-md-6">
				<input type="text" name="name" id="name" class="form-control" value="{$data.name}">
			</div>
		</li>
		<li class="form-group">
			<label for="category_id" class="col-md-2 control-label">{:lang('fieldscategory')}</label>
			<div class="col-md-6">
				<input type="text" name="" id="" class="form-control" disabled value="{$data.cat_name}">
			</div>
		</li>
		<li class="form-group">
			<label for="description" class="col-md-2 control-label">{:lang('remark')}</label>
			<div class="col-md-6">
				<textarea name="description" id="description" class="form-control">{$data.description}</textarea>
			</div>
		</li>
	</ul>
	{:token()}
	<input type="hidden" name="id" value="{$data.id}">
	<div class="form-button col-md-10 col-md-offset-2">
	<input type="submit" value="{:lang('button save')}" class="btn btn-danger btn-block" id="button-basic">
	</div>
</form>