<div class="smart-widget">
    <div class="smart-widget-header">
        {$__SUB_TITLE__}
    </div>
    <div class="smart-widget-inner">
        <div class="smart-widget-body">
            <form action="" method="post" class="form-horizontal">
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>{:lang('elog date')}</th>
                            <th>{:lang('elog file size')}</th>
                            <th>{:lang('operation')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="vo"}
                        <tr>
                            <td>{$vo.name}</td>
                            <td>{$vo.size}</td>
                            <td>
                                {empty name="Request.param.name"}
                                <a href="{:url('', array('name' => $vo['id']))}"><i class="fa fa-eye"></i>{:lang('button view')}</a>
                                {else/}
                                <a href="{:url('', array('method' => 'show', 'name' => $Request.param.name, 'id' => $vo['id']))}"><i class="fa fa-eye"></i>{:lang('button view')}</a>
                                {/empty}
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>