<div class="smart-widget">
    <div class="smart-widget-header">
        {$__SUB_TITLE__}
        <span class="smart-widget-option">
            <a href="{:url('')}" class="btn btn-default btn-xs">
                <span class="fa fa-eye"></span>{:lang('visit')}
            </a>

            <a href="{:url('', array('method' => 'searchengine'))}" class="btn btn-default btn-xs">
                <span class="fa fa-eye"></span>{:lang('searchengine')}
            </a>

            <!-- <a href="{:url('', array('method' => 'request'))}" class="btn btn-default btn-xs">
                <span class="fa fa-eye"></span>{:lang('request')}
            </a> -->
        </span>
    </div>
    <div class="smart-widget-inner">
        <div class="smart-widget-body">
            <form action="" method="post" class="form-horizontal">
                <table class="table table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>{:lang('date')}</th>
                            <th>{:lang('ip')}</th>
                            <th>{:lang('url')}</th>
                            <th>{:lang('type')}</th>
                            <th>{:lang('count')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="vo"}
                        <tr>
                            <td width="15%">{$vo.update_time|date='Y-m-d H:i:s',###}</td>
                            <td width="30%">
                                <p>{$vo.user_agent}</p>
                                <p>{$vo.ip} [{$vo.ip_attr}]</p>
                            </td>
                            <td title="substr=0,30">
                                <p><b>URL:</b> {$vo.url}</p>
                                <p><b>GET:</b> {$vo.get_params}</p>
                                <p><b>POST:</b> {$vo.post_params}</p>
                            </td>
                            <td width="10%">{if $vo.type == '1'} login {else} request {/if}</td>
                            <td width="10%">{$vo.count}</td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </form>
            <div>
                {$page}
            </div>
        </div>
    </div>
</div>